<h2>All details of member {{code}}</h2>
<br>
<hr>
<br>
<p>Loan Amount :: {{memberdetail.loan_amnt}}</p>
<p>Founded Amount :: {{memberdetail.funded_amnt_inv}}</p>
<p>Term :: {{memberdetail.term}}</p>
<p>Interest Rate :: {{memberdetail.int_rate}}</p>
<p>Installment :: {{memberdetail.installment}}</p>
<p>Grade :: {{memberdetail.grade}}</p>
<p>Employee Title :: {{memberdetail.emp_title}}</p>
<p>Employee Length ::{{memberdetail.emp_length}}</p>
<p>Home Ownership :: {{memberdetail.home_ownership}}</p>
<p>Annual Income :: {{memberdetail.annual_inc}}</p>
<p>Verification Status :: {{memberdetail.verification_status}}</p>
<p>Issue Date :: {{memberdetail.issue_d}}</p>
<p>Loan Status :: {{memberdetail.loan_status}}</p>
<p>Description :: {{memberdetail.desc}}</p>
<p>Purpose :: {{memberdetail.purpose}}</p>
<p>Title :: {{memberdetail.title}}</p>
<p>Address State :: {{memberdetail.addr_state}}</p>
<p>Last Payment id :: {{memberdetail.last_pymnt_d}}</p>
<p>Last Payment Amount :: {{memberdetail.last_pymnt_amnt}}</p>
